.regis-login-body {
    background-image: url('../img/login/Wallpaper Login Register.jpg');
    background-size: cover;
}

.user-body {
    background-image: url('../img/login/Backgroundstall_up.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.admin-store-body {
    background: #171716;
    padding-top: .5rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container-content {
    min-height: 45rem;
    padding: 3rem 6rem 1rem 6rem;
    width:100%;
    margin-top: 70px;
}

.container-content-user {
    /* min-height: 100rem; */
    margin-top: 70px;
}

.is-invalid, .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 4px;
}

.confirm-button-swal{
    border: 2px solid #00621C !important;
}

.cancel-button-swal{
    color: #222222 !important;
    border: 2px solid #222222 !important;
}

.delete-button-swal{
    border: 2px solid #850000 !important;
}

.confirm-button-swal, .cancel-button-swal, .delete-button-swal {
    border-radius: 10px !important;
    text-align: center !important;
    line-height: 0px !important;
    width: 160px !important;
    height: 45px !important;
}

.swal2-actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

/* buat table list store admin */
.table-utama{
    vertical-align: middle;
    border-radius : 5px;
    overflow: hidden;
    text-align: center;
}

/* buat button submit */
.buttonSubmit{
    border-radius: 100px;
    width: 100px;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #F36600;
    margin-top: 20px;
}

/* buat border color dan background color */
.divBorder{
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    border: 2px solid rgb(214, 214, 214);
}

.btn-back, .btn-back:hover {
    color: #FF0000;
    margin-top: .5rem;
}

.product-form {
    padding: 0rem 2rem 1rem 3rem;
}

.product-form-container {
    padding: 2rem 2rem 1rem 2rem;
    margin-right: 3rem;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    border: 2px solid rgb(214, 214, 214);
}

.pagination .page-item .page-link {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0 2px;
    padding: 2px 10px;
}

.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover {
    background-color: #FDC42C;
    border: 2.5px solid #F36600;
    color: #fff;
    border-radius: 5px;
}

.page-link-disabled, .page-link-prev-next {
    color: #fff;
    padding: 0.3rem 0.5rem;
    display: inline-block;
}

.page-link-prev-next:hover {
    color: #F36600;
}

.dropdown-wrapper select[disabled] {
    background-color: gray;
}

.nav-item-user {
    padding-left: 1.3rem;
}

.custom-footer {
    background-color: #363636;
    color: #ffffff;
    padding-top: 2rem;
}

.text-footer {
    margin-bottom: 1rem;
}

.orange-line {
    width: 86%;
    border: 1px solid #F36600;
    margin-top: 1rem;
    margin-left: 6rem;
}

.email-footer
{
    padding-right: 4rem;
}
