.regis-login-body {
    background-image: url('../img/login/Wallpaper Login Register.jpg');
    background-size: cover;
}

.user-body {
    background-image: url('../img/login/Background.jpg');
    background-size: cover;
}

.admin-store-body {
    background: #171716;
}

.container-content {
    min-height: calc(100vh - 110px);
    max-width: 1500px;
    margin: 3rem 5rem;
}

.is-invalid, .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 4px;
}

.confirm-button-swal{
    border: 2px solid #00621C !important;
}

.cancel-button-swal{
    color: #222222 !important;
    border: 2px solid #222222 !important;
}

.confirm-button-swal, .cancel-button-swal {
    border-radius: 10px !important;
    text-align: center !important;
    line-height: 0px !important;
    width: 160px !important;
    height: 45px !important;
}

.swal2-actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
